body {font-family: Arial, Helvetica, sans-serif;}

h1 {font-weight:bold;font-size:24px;color:#222;}

.box {background-color:#cc0000;color:#fff;border-radius:20px;padding:20px;width:30%;}

p {font-size:14px;margin-bottom:20px;}